{% extends 'main/base.html' %}
{% block title %}View Policy Version{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="form-group">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" value="{{ policy.title }}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="textarea form-control" rows="10" cols="40" readonly>{{ policy.content }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Version Number</label>
        <br/><span class="badge rounded-pill text-left version-badge">Version {{policy.version_number}}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Status</label>
        <input class="form-control" value="{{ policy.get_status_display }}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Risks</label><br/>
        {% for risk in policy.risks.all %}
        <span class="badge rounded-pill {{risk.get_severity_display.lower}}-severity">{{risk.name}}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="form-label">Compliance Standards</label><br/>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
            {% for compliance_standard in policy.compliance_standards.all %}
                <tr>
                    <td><a target="_blank" href="{{ compliance_standard.reference_url }}">{{compliance_standard.name}}</a></td>
                    <td>{{ compliance_standard.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    {% if user.groups.all.0.name == 'Manager' %}
        {% if policy.status != 'ACTIVE' %}
            <div class="text-end">
                <a class="btn btn-primary" href="{% url 'submit_policy' policy.pk %}">Submit</a>
            </div>
        {% endif %}
        {% if policy.status == 'ACTIVE' %}
            <div class="text-end">
                <a class="btn btn-danger" href="{% url 'archive_policy' policy.pk %}">Archive</a>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}